{% extends '_base.html' %}
{% block main %}
<div class="b-top-section m-dark-blue">
    <h1>Call for Abstracts</h1>
    <h2><strong>CLOSED</strong></h2>
</div>

<section id="intro-p" class="b-page-section">
    <div class="row e-content">
        <div class="medium-12 large-8 large-offset-2 column ">
            <p>The submission period for abstracts for the Open Data Research Symposium 2016 has concluded. We invite you to continue to share what you believe to be  key unresolved issues relating to open data via our <a href="/question.html" class="contactus-link"><strong>call for questions</strong></a> and to contribute your thoughts and suggestions for Open Data Research Symposium 2016 by <a href="/contactus.html" class="contactus-link"><strong>emailing us</strong></a> or tweeting using <a href="https://twitter.com/search?f=tweets&q=%23odrs16&src=typd" class="contactus-link"><strong>#ODRS16</strong></a>.</p>
        </div>
    </div>
</section>

<section class="b-divider m-green">
  <h1>Purpose of ODRS 2016</h1>
</section>

<section id="intro-p" class="b-page-section">
    <div class="row e-content">
        <div class="medium-12 large-8 large-offset-2 column ">
            <p>As open data becomes entrenched in the policy mainstream, there is an ongoing need to delve deeper into the dynamics of open data practice. At the same time, there is a need to maintain a critical perspective and to develop empirically-tested theories on open data. Researchers across the world have been exploring various issues around the supply, use and impact of open data; the second Open Data Research Symposium offer researchers an opportunity to share completed research and to formulate the open data research agenda.</p>
        </div>
    </div>
</section>

<section class="b-divider m-green">
  <h1>Submission Topics</h1>
</section>

<section id="list" class="b-page-section">
    <div class="row e-content">
        <div class="large-8 column large-offset-2">
          <p>Submissions that reflect critically on the following themes are invited:</p>
          <ul>
            <li><strong>Theoretical framing of open data</strong> as a concept and a movement</li>
            <li>Use and <strong>impacts of open data</strong> in specific countries or specific sectors</li>
            <li>The making, implementation and institutionalisation of <strong>open data policy</strong></li>
            <li><strong>Capacity-building</strong> for wider availability and use of open data</li>
            <li>Conceptualising <strong>open data ecosystems</strong> and intermediaries</li>
            <li>Entrepreneurial usage and <strong>open data economies in developing countries</strong></li>
            <li>Linkages between <strong>transparency, freedom of information and open data communities</strong></li>
            <li><strong>Measurement of open data policy and practices</strong>, including methods for assessing the impact of open data</li>
            <li>Critical challenges for open data: <strong>privacy, exclusion and abuse</strong></li>
            <li>Situating <strong>open data in the global governance and developmental context</strong></li>
          </ul>
          <p>Submissions are invited from all disciplines, though with an emphasis on empirical social research. PhD students and early-career researchers are particularly encouraged to submit abstracts. Panels will provide an opportunity to receive constructive feedback.</p>
          <p>Accepted papers will be included in the conference proceedings, which will adhere to the principles of open access. Some funding will be made available to authors of accepted pieces.</p>
        </div>
    </div>
</section>

<section id="submission-details" class="b-page-section m-green">
    <h2>Submission Details</h2>
    <div class="row">
        <div class="large-8 column large-offset-2">
            <p>Extended abstracts in English of up to two pages, detailing the question addressed by the research, methods employed and findings should be submitted by <strong> June 4, 2016</strong>. Authors of accepted abstracts will be invited to submit full papers. Full papers of accepted abstracts will be due by <strong>September 8, 2016</strong>.</p>
        </div>
    </div>
</section>

<!-- <section class="b-divider m-yellow">
    <h3>Abstracts should be submitted via Easy Chair</h3>
    <p class="e-button-container">
      <a href="https://easychair.org/conferences/?conf=odrs16" class="b-button m-disabled" target="_blank">Submit Your Abstract on EasyChair</a>
    </p>
</section> -->

<section id="odrs-history" class="b-page-section">
    <div class="row">
        <div class="large-8 column large-offset-2">
            <p>The first Open Data Research Symposium was held as a precursor to the International Open Data Conference in Ottawa on May 27, 2015. Over 60 abstracts were submitted and 31 papers were delivered, of which seven have been accepted for publication in a special issue of the peer-reviewed, open access <i>Journal of Community Informatics</i>.</p>
            <div class="b-divider" id="abstract-button-container">
              <p class="e-button-container"><a href="https://docs.google.com/spreadsheets/u/1/d/1zvtp2wF9kqrvzXpoUIgq1aYLUcbESJ0WWpShobrXr_A/pubhtml?gid=1456665193&single=true" class="b-button" id="abstract-button" target="_blank">VIEW 2015 PRESENTERS & PAPERS</a></p>
            </div>


        </div>
    </div>
</section>
{% endblock %}
