{% extends '_base.html' %}
{% block main %}

<script type="text/javascript">var submitted=false;</script>

<div class="b-top-section m-dark-blue">
    <h1>CONTACT US</h1>
</div>
<div class="b-divider m-green">
  <h1 class="confirmation-section-header">THANK YOU!</h1>
</div>
<section id="confirmation" class="b-page-section">
    <div class="row e-content">
        <div class="large-8 large-offset-2 column">
          <div>
            <h3 class="confirmation-section-body">Your message was successfully submitted.  We will respond to your question as soon as possible.  Thank you for your interest in ODRS 2016!</h3>
          </div>
        </div>
      </div>
</section>


{% endblock %}
