{% extends '_base.html' %}

{% block header_logo %}{% endblock %}

{% block main %}

<div>
  	<div class="b-top-section m-purple rel">
  	<div class="row">
  	<div class="medium-12 medium-centered small-11 small-centered">
  		<br>
  		<h1>WOMEN EXPERTS</h1>
	    <!-- <div class="event-logo">
	      <img src="./img/odrs-horizontal-full-white-1.png" alt="Open Data Research Symposium" />
	    </div> -->
	    <h3>Lorem impsum dolor sit.</h3>
	    <br>
	    <br>
	    <a href="./experts.html" class="b-button m-fold-button">Discover Experts</a>
	</div>
	</div>
	</div>
</div>

<!-- <div class="b-divider m-yellow m-ex-space-v">
	<div class="row">
  	<div class="medium-12 small-11">
		<h1>What is the Open Data Research Symposium?</h1>
	  	<h2>Symposium Objectives</h2>
	</div>
	</div>
</div> -->


{% endblock %}
