{% extends '_base.html' %}

{% block header_logo %}{% endblock %}

{% block main %}
<div>
  <div class="b-top-section m-dark-blue rel">
    <div class="event-logo">
      <img src="./img/odrs-horizontal-full-white-1.png" alt="Open Data Research Symposium" />
    </div>
    <h2>October 5, 2016</h2>
    <h3>Madrid, Spain</h3>
    <a href="https://www.eventbrite.com/e/open-data-research-symposium-2016-tickets-27127690653" class="b-button m-fold-button">Register Now!</a>
  </div>
</div>

<div class="b-divider m-yellow m-ex-space-v">
  <h1>What is the Open Data Research Symposium?</h1>
  <h2>Symposium Objectives</h2>
</div>

<section class="b-page-section">
  <div class="row e-content">
    <div class="medium-10 column medium-offset-1">
      <p class="odrs-announcement" style="letter-spacing: -.2px;"><strong>The Open Data Research Symposium program committee is pleased to announce that the second Open Data Research Symposium (<a href="https://twitter.com/search?f=tweets&q=%23odrs16&src=typd" class="index-odrs-twitter-link" target="_blank">#ODRS16</a>) will be held on October 5, 2016 prior to the <a href="http://opendatacon.org/" class="iodc-link" target="_blank">International Open Data Conference 2016</a> in Madrid, Spain.</strong></p>
    </div>
    <div class="medium-5 column medium-offset-1">
      <p style="letter-spacing: -.2px;">Open data has become firmly cemented in the policy mainstream. However, there remains a pressing need to dig deeper into the dynamics of how open data operates in practice, as well as to nurture theories that explain these dynamics. This symposium offers open data researchers an opportunity to reflect critically on the findings of their completed research and to create cohesion within the research community on what the future challenges are likely to be in <strong>unlocking the potential of open data to promote social progress.</strong></p>
    </div>
    <div class="medium-5 column end">
      <p>The Symposium will be composed of three key activities, each focused on how to increase our understanding of open data’s use and impacts:</p>
      <ol>
        <li>Sharing of key findings</li>
        <li>Developing a common research infrastructure</li>
        <li>Identifying gaps and questions that can both further theory and practice</li>
      </ol>
    </div>
  </div>
  <div class="row e-content m-extra-margin">
    <div class="large-10 large-offset-1 columns end">
      <h2>Important Dates</h2>
      <div class="b-timeline">
        <div class="e-timeline-graphic">
          <div class="e-timebox"></div>
          <div class="e-timebox"></div>
          <div class="e-timebox m-current"></div>
          <div class="e-timebox"></div>
          <div class="e-timebox"></div>
          <div class="e-timebox"></div>
        </div>
        <div class="e-event">
          <time datetime="2016-04-11">April 11, 2016</time>
          <span class="e-description">Call for Abstracts open</span>
        </div>
        <div class="e-event">
          <time datetime="2016-06-04">June 4, 2016</time>
          <span class="e-description">Extended abstract submissions due</span>
        </div>
        <div class="e-event m-current">
          <time datetime="2016-07-15">July 15, 2016</time>
          <span class="e-description">Accepted authors notified</span>
        </div>
        <div class="e-event">
          <time datetime="2016-09-08">September 8, 2016</time>
          <span class="e-description">Full papers due</span>
        </div>
        <div class="e-event">
          <time datetime="2016-10-01">October 1, 2016</time>
          <span class="e-description">Deadline for Call for Questions</span>
        </div>
        <div class="e-event">
          <time datetime="2016-10-05">October 5, 2016</time>
          <span class="e-description">Open Data Research Symposium</span>
        </div>
      </div>
      <div class="b-timeline-list m-show">
        <div class="e-event">
          <time datetime="2016-04-11">April 11, 2016</time>
          <span class="e-description">Call for Abstracts open</span>
        </div>
        <div class="e-event">
          <time datetime="2016-06-04">June 4, 2016</time>
          <span class="e-description">Extended abstract submissions due</span>
        </div>
        <div class="e-event m-current">
          <time datetime="2016-07-15">July 15, 2016</time>
          <span class="e-description">Accepted authors notified</span>
        </div>
        <div class="e-event">
          <time datetime="2016-09-08">September 8, 2016</time>
          <span class="e-description">Full papers due</span>
        </div>
        <div class="e-event">
          <time datetime="2016-10-01">October 1, 2016</time>
          <span class="e-description">Deadline for Call for Questions</span>
        </div>
        <div class="e-event">
          <time datetime="2016-10-05">October 5, 2016</time>
          <span class="e-description">Open Data Research Symposium</span>
        </div>
      </div>
    </div>
  </div>
  <div class="b-divider" id="home-abstract-button-container">
    <p class="e-button-container"><a href="./agenda.html" class="b-button m-ex-space"  id="home-question-button">Symposium Agenda</a> <a href="./accepted.html" class="b-button m-ex-space" id="home-abstract-button">View Accepted Papers</a> <a href="./question.html" class="b-button m-ex-space" id="home-question-button">Submit Your Question</a></p>
    <p class="e-button-container"></p>
  </div>
</section>

<div class="b-divider m-green">
  <h1>Program Committee</h1>
</div>

<section class="b-page-section b-committee">
  <div class="row">
    <ul class="medium-6 column medium-offset-1">
      <li><strong>Stefaan Verhulst <a href="https://twitter.com/thegovlab" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>
        The GovLab, NYU Tandon School of Engineering (Co-chair)</li>
      <li><strong>Francois van Schalkwyk <a href="https://twitter.com/francois_fvs2" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>World Wide Web Foundation / University of Stellenbosch (Co-chair)</li>
      <li><strong>Emmy Chirchir <a href="https://twitter.com/ChirchirEmmy" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>Munster University</li>
      <li><strong>Katie Clancy <a href="https://twitter.com/landofkatie" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>International Development Research Centre / Open Data for Development </li>
      <li><strong>Gisele Craveiro</strong>University of Sao Paulo</li>
      <li><strong>Tim Davies <a href="https://twitter.com/timdavies" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>University of Southampton</li>

    </ul>
    <ul class="medium-4 column end">
      <li><strong>Kyujin Jung</strong>Tennessee State University</li>
      <li><strong>Gustavo Magalhaes <a href="https://twitter.com/freddygusto" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>University of Austin Texas</li>
      <li><strong>Michelle McLeod <a href="https://twitter.com/DrMTMcLeod" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>University of the West Indies</li>
      <li><strong>Stefania Milan <a href="https://twitter.com/annliffey" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>University of Amsterdam</li>
      <li><strong>Fernando Perini <a href="https://twitter.com/fperini" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>International Development Research Centre</li>
      <li><strong>Andrew Young <a href="https://twitter.com/_AndrewYoung" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a></strong>The GovLab, NYU Tandon School of Engineering</li>
    </ul>
  </div>
</section>

{% endblock %}
