{% extends '_base.html' %}
{% block main %}

<div class="b-top-section m-dark-blue">
    <h1>CALL FOR QUESTIONS</h1>
</div>
<section class="b-divider m-yellow">
  <h1>Help Shape the Open Data Research Agenda</h1>
</section>
<section id="intro-p" class="b-page-section">

  <div class="row e-content">
    <div class="large-8 large-offset-2 column m-extra-header-space">
<h2 class="m-center">The 2016 Open Data Research Symposium (#ODRS16) is crowd-sourcing questions that if answered could radically increase our understanding of open data</h2>

<p>#ODRS16 will offer open data researchers an opportunity to reflect critically on the findings of their completed research, and seek to create cohesion within the research community regarding the potential impacts of open data.</p>

<p>Although the ODRS Call for Abstracts closed in the beginning of June, an invitation is extended to all members of the open data community to help shape the event’s program and highlight areas of particular importance to the field through our active Call for Questions.</p>

<h3 class="m-center">Please share the questions that researchers should be asking to increase our understanding of open data.</h3>

<p>You can submit your questions from now until <time>October 1st</time> using <a href="#submit">the form below</a>, or by using <b>#ODRS16</b> on Twitter.</p>

<p>The questions posed in the lead up to the event will be used to:</p>

<ul class="m-indent m-alt-shade m-wide-lines m-alt-bullets">
  <li>Help identify which submitted abstracts explore topics of particular interest to the open data research community</li>
  <li>Craft the ODRS program to ensure sessions are targeted at the most pressing questions</li>
  <li>Build a collaborative research agenda for the field</li>
  <li>Inform specific research efforts and synergize collaborations during the ODRS</li>
</ul>

    </div>
  </div>
</section>

<section class="b-divider m-dark-blue">
  <a name="submit"></a>
  <h1>How to Submit a Question</h1>
</section>
<section class="b-divider m-green">
  <h3>You can tweet your questions with the hashtag <a href="https://twitter.com/search?f=tweets&q=%23odrs16&src=typd" class="question-odrs-twitter-link" target="_blank"><strong>#ODRS16</strong></a></h3>
</section>


<section class="b-page-section m-dark-blue">
  <div class="row">
    <div class="large-8 column large-offset-2">

      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='http://odresearch.org/confirmation-question.html';}"></iframe>
      <form class="b-form m-negative" action="https://docs.google.com/forms/d/1-sPduMf0WvSZvbL0vN-7CkM9BmOMDF1h3OoKBQKiMik/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">

      <!-- <form action="https://docs.google.com/forms/d/1-sPduMf0WvSZvbL0vN-7CkM9BmOMDF1h3OoKBQKiMik/formResponse" method="POST" class="b-form m-negative" id="ss-form" target="_hidden_iframe" onsubmit="submitted=true;"> -->

        <h4>or...</h4>
        <h3>Send your questions through the online form</h3>
        <ol role="list" class="ss-question-list" style="padding-left: 0;">
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_2101671815"><div class="ss-q-title"></div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.2101671815" value="" class="ss-q-short" id="entry_2101671815" dir="auto" aria-label="First name  " placeholder="FIRST NAME" title="">
  <div class="error-message" id="1499297818_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_601257133"><div class="ss-q-title">
  </div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.601257133" value="" class="ss-q-short" id="entry_601257133" dir="auto" aria-label="Last Name  " placeholder="LAST NAME"title="">
  <div class="error-message" id="1350001338_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_1105265694"><div class="ss-q-title">
  </div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.1105265694" value="" class="ss-q-short" id="entry_1105265694" dir="auto" aria-label="Organization  " placeholder="ORGANIZATION"title="">
  <div class="error-message" id="929405955_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_1467600275"><div class="ss-q-title">
  </div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.1467600275" value="" class="ss-q-short" id="entry_1467600275" dir="auto" aria-label="Email  " placeholder="EMAIL" title="">
  <div class="error-message" id="814026368_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry" >
  <label class="ss-q-item-label" for="entry_488187191"><div class="ss-q-title">
  </div>
  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <textarea name="entry.488187191" rows="8" cols="0" class="question-text-area" id="entry_488187191" dir="auto" aria-label="What questions do you think should be addressed during the conference?  " placeholder="QUESTION";"></textarea>
  <div class="error-message" id="1385453012_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div>
  <input type="hidden" name="draftResponse" value="[,,&quot;1997547259708059370&quot;]
  ">
  <input type="hidden" name="pageHistory" value="0">



  <input type="hidden" name="fbzx" value="1997547259708059370">

  <div class="ss-item ss-navigate"><table id="navigation-table"  style="margin-top:0px"><tbody class="b-button-background"><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr" style="padding:0px;">

  <button type="submit" name="submit" value="SUBMIT" id="ss-submit" class="b-button"><i class="material-icons" id="question-button-icon">send</i>SEND</button>



  <div class="ss-password-warning ss-secondary-text"></div></td>
  </tr></tbody></table></div></ol></form>


  </div>
  </div>
</section>

{% endblock %}
