.b-page-section {padding:0;}

table {

	margin:0;
	border: 0px #FFFFFF;

	thead {

		border: none;

		tr { 

			th { text-align: center; }
		}
	}

	tbody {

		border: 0px #FFFFFF;

		tr { 

			td { text-align: center; vertical-align: middle; }
		}
	}
	
}

