.b-page-section { padding: 0; }
.nodisplay { display: none; }

table {
	margin:0;
	border: 0px #FFFFFF;

	i { 
		margin-left: 15px;
       	vertical-align: middle;
        position: relative;
    }

	thead {
		border: none;
		tr { th { text-align: center; } }
	}

	tbody {

		border: 0px #FFFFFF;
		tr { td { text-align: center; vertical-align: middle; } }
	}	
}

.b-modal { z-index: 30; }

.m-yellow { color: $white; }
.m-yellow:hover {color: $white; background-color: darken($yellow, 8)}

.b-modal .e-content {
	text-align: left;

	h4 { font-size: 25px; margin-bottom: 16px; }
	h5 { }

	.expert-close-modal { font-size: 16px; }

    	.label { 
	    	margin-right: 5px; 
	    	padding: 5px 10px ; 
	    	color: $white; 
	    	font-size: 90%;
	    	text-transform: capitalize;

	    	&--policy{
	    		background-color: $blue;
	    	}
	    	&--data{
	    		background-color: $purple;
	    	}
	    	&--global{
	    		background-color: $orange;
	    	}
	    	&--national{
	    		background-color: $teal;
	    	}
	    	&--security{
	    		background-color: $black;
	    	}
	    	&--governance{
	    		background-color: $yellow;
	    	}
    	}


    i { 
		margin-left: 5px;
       	vertical-align: top;
        position: relative;
    }

}





