.b-search.m-main-search {
    input[type="text"] {
    padding: 28px;
    font-size: 24px;
    width: calc(100% - 58px);
    max-width: 100%;

    &:focus {
      background-color: rgba($white, .3);
      color:$white;
    }
  }

  input[type="submit"], input[type="button"] {
    padding: 17px;
    background-color: rgba($black, .2);
  }

  input[type="button"] {
    padding: 16px 17px;
  }

  input[type="text"]:focus ~ input[type="submit"] {
    background-color: rgba($black, .4);
  }

  ::-webkit-input-placeholder {
   color: rgba($white, .3);
   text-align: left;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba($white, .3);
     text-align: left;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba($white, .3);
     text-align: left;
  }

  :-ms-input-placeholder {
     color: rgba($white, .3);
     text-align: left;
  }

}

.b-main-search-section {
  //background-color: rgba($white, .2);
  background-color: rgba($black, .3);

  .e-tagline {
    text-align: center;
    padding: 0 0 40px;
    color: $white;

    @include breakpoint($mobile-only) {
      font-size: 16px;
    }
  }
}

.b-organizations {
  background-color: $white;

  .m-digital-engagement-evaluation-team { max-width: 330px !important; }
}